body{
	padding:40px
}

.container{
	max-width:600px;
}
form{
	padding:40px;
}

ul li{
	list-style:circle;
	margin-left:30px;
	margin-top:10px;
}

.result{
	margin:40px 0;
}

.result .title{
	text-align:center;
}